header {
}

h1 {
  color: slateblue;
}

main h1 {
  color: slateblue;
}
footer p {
  font-size: larger;
  background-color: lightblue;
}

.my-footer p {
  font-size: larger;
  background-color: lightblue;
}

#my-footer {
  font-size: larger;
  background-color: lightblue;
}

nav,
footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
}

a:hover {
  background-color: white;
  color: steelblue;
}
body {
  text-align: center;
}

img {
  width: 80%;
}
